In [30]:
import pandas as pd
df = pd.read_csv('parking3.csv')
df2 = df.transpose()
df2

,0,1,2,3
Carpark Address,Mon-Fri after 5/6pm,Mon-Fri before 5/6pm,Sat,Sun/Public Holiday
"*Scape, 2 Orchard Link, S(237978)","$5.15 for 1st 3hr, $2.05 for next subsequent h...",$2.05/hr from 7am to 4.59pm,$2.05/hr from 7am to 7am the following day,"$2.05/hr from 7am to 4.59pm, $5.15 for 1st 3hr..."

In [26]:
df2.to_json('testing.json')

In [27]:
df3 = pd.read_json('testing.json')
df3

,0,1,2,3
"*Scape, 2 Orchard Link, S(237978)","$5.15 for 1st 3hr, $2.05 for next subsequent h...",$2.05/hr from 7am to 4.59pm,$2.05/hr from 7am to 7am the following day,"$2.05/hr from 7am to 4.59pm, $5.15 for 1st 3hr..."
Carpark Address,Mon-Fri after 5/6pm,Mon-Fri before 5/6pm,Sat,Sun/Public Holiday